*{
    margin:0%;
    padding:0%;
    font-family: "Inter", sans-serif;
}
html.body{
    width:100%;
    height:100%;
}
.main{
    width:100%;
    height:100%;
   
}
.navbar{
    display: flex;
    width:100%;
    height:3.5rem;
    border:0px solid black;
    background-color:#020617;
    box-shadow:0px 0px 2px  black;
    padding:3px;
    position:fixed;
    z-index:2;
}
.fake-navbar{
    width:100%;
    height:3.9rem;
    background-color:#020617;
}
.navbar-content{
    width:100%;
    height:100%;
    display:flex;
    align-items:center;
}
.navbar-content1{
    display:flex;
    width:40%;
    height:100%;;
}
.logo{
    margin:20px;
    display:flex;
    align-items:center;
    justify-content:center;
    width:3.5rem;
    height:3.5rem;
    border:2px solid rgb(250, 247, 247);
    background-color:rgb(249, 164, 6);
    border-radius:50%;
    margin-top:-.5px;
    box-shadow:0px 0px 3px black;
   
}
.logo:hover{
    box-shadow:0px 1px 5px rgb(38, 38, 241);
    cursor:pointer;
}
h1{
    margin-top:10px;
    font-size:35px;
    font-weight:700;
}
.navbar-content2{
    width:60%;
    height:100%;
    display:flex;
    justify-content:space-evenly;
    
}
a{
    text-decoration:none;
    margin-top:15px;
    color:black;
    font-weight:450;
    letter-spacing:.8px;
    font-size:20px;
    color:rgb(242, 238, 238);
    opacity:1;
}
.name{
    font-weight:600;
    font-size:30px;
    opacity:1;
    margin-top:2px;
}

i{
color:#fff;
}
.three-line{
     transition: all .3s linear;
     line-height:60px;


}
.menu-icon{
    margin-top:15px;
    color:black;
    font-weight:450;
    letter-spacing:.8px;
    font-size:20px;
}
a:hover{
    color:#00FF7F;
}
.sidebar{
    display:flex;
    flex-direction:column;
    align-items:center;
    position: fixed;
    right:-100%;
    transition:1s linear;
    transition-delay:.01s;
    opacity:.7;
    top:1px;
    z-index:2;
    width:60%;
    border:2px solid black;
    height:100vh;
    border:1px solid #00FF7F;
    background-color:#0F172A;
    opacity:1;
    box-shadow:0px 0px 5px black;
}
.sidebar-element{
    color:rgb(255, 252, 252);
}
input[type="checkbox"]{
    display:none;
}
#check:checked ~ .sidebar{
   right:0;
}
#check:checked ~ .home i{
    opacity:0;
}
.sidebar2{
    width:100%;
}
.line-break{
    width:100%;
    height:.1px;
    background-color:#00FF7F;
    margin-top:2rem;
}
.sidebar-elements{
    display:flex;
    justify-content:center;
    align-items:center;
    margin:20px;
    margin-left:3px;
    height:3rem;
    width:98%;
    border:0px solid rgb(247, 239, 239);
    opacity:.8;
}
.sidebar-element{
    margin-top:-2px;
}
.sidebar-elements:hover{
    box-shadow:0px 0px 5px black;
    opacity:1;
    border:.2px solid rgba(247, 241, 241, .1);
    background-color:rgba(26, 24, 24,.1);
    border-radius:5px;
}
.btns1{
    height:2rem;
    display:flex;
    align-items:center;
    justify-content:space-evenly;
    width:15rem;
}
.btns1 i{
    margin-top:20px;
}
span{
    color: white;
    font-size:30px;
    margin-top:20px;

}
i{
    font-size:28px;
    transition:.2s;
    cursor: pointer;
}
i:hover{
    font-size:30px;
}
.sidebar2{
    margin-top:50px;
}
.social-media a{
    margin-right:20px;
    margin-left:20px;
    margin-bottom:-300px;
}
.social-media a i{
    font-size:18px;
    opacity:.8;
}
.social-media a i:hover{
    font-size:20px;
    opacity:1;
}

.main-box{
    display:flex;
    justify-content: center;
    height:100rem;
    width:100%;
    background-color:#0F172A;
 }
 .box1-content{
    display:flex;
    align-items:center;
    justify-content:center;
    width:25rem;
    height:30rem;
    border-radius:10px;
    background-color:rgba(255, 255, 255,0.1) ;
    box-shadow:1px 1px 10px black;
 } 
 .box1{
    display:flex;
    flex-wrap:wrap;
    width:25rem;
    height:28rem;
    background-color:#020617;
    background-color: rgba(16, 16, 16,.1);
    /* background-color:#1c311c; */
    /* background-color:rgba(255, 255, 255,.1) ; */
    border:0px solid black;
    margin-left:20px;
    margin-right:20px;
    padding:20px;
    border-radius:10px;
    opacity:1;
    box-shadow:1px 1px 10px black;
 }
 
 h2{
    color:rgb(102, 247, 112);
 }
 p{
    color:white;
    color:rgb(246, 248, 246);
    font-size:20px;
    opacity:.8;
 }
 .right-icon{
    animation: icon 3s ease-in .5s infinite normal;
 }
 @keyframes icon {
    0% {
        color:blue;
    }
    50%{
        color:white;
    }
    100%{
        color:#ff4c29;
    }
 }
 .icons{
    font-size:15px;
    color:white;
    opacity:.9;
    margin:5px;
 }
 .icons:hover{
    font-size:15px;
    opacity:1;
    color:rgb(225, 11, 210);
 }
 .box1-element2{
    width:100%;
    display:flex;
    justify-content:space-evenly;
    height:2.5rem;
 }
 button:hover{
    transform: translateY(-2px);
    background-color:red;
 }
 .important{
    opacity:1;
    margin-top:1rem;
 }
 .box2{
    display:flex;
    align-items:center;
    justify-content:center;
    width:25rem;
    height:30rem;
    background-color:rgba(255, 255, 255,.1) ;
    border:0px solid black;
    border-radius:10px;
    box-shadow:1px 1px 10px black;
    background-size:cover;
    margin-left:3rem;
    margin-right:3rem;
 }
 img{
    height:28rem;
    width:23rem;
    border-radius:2px blue;
    box-shadow:0px 0px 10px black;
    border-radius:10px; 

 }
 .boxes{
   transform:translateY(6rem);
 }
@media (min-width:652px) {
    .home{
        display:none;
    }
    
}
   @media (max-width:651px) {
    .media{
         display:none;
    } 
    .home{
        margin-right:-70%;
    }
    .name{
        margin-left:100px;
    }
    .logo{
        margin-left:20px;
        font-size:15px;
       position:fixed;
    }
    .main-box{
        flex-wrap: wrap;
    }
    .box2{
        margin-top:-34rem;
    }
    .boxes{
        transform:translateY(1rem);
 }
}